<ol class="breadcrumb">
  <li class="active">My wall</li>
  <li><a href="walls/timeline">Timeline</a></li>
  <li><a href="#">Friends List</a></li> 
</ol>


<div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading">Notes on my wall</div>
  <div class="panel-body">

<table class="table">
  <tr>
    <th>Wall_id</th>
    <th>Title</th>
    <th>Text</th>
    <th>authority</th>
  </tr>
 
  <% @walls.each do |wall| %>
    <tr>
      <td ><%= wall.id %></td>
      <td><%= wall.title %></td>
      <td><%= wall.text %></td>
      <td><%= wall.read_authority %></td>
      <td><%= link_to '', wall_path(wall), class: "glyphicon glyphicon-zoom-in btn-default" %></td>
      <td><%= link_to '', edit_wall_path(wall) , class: "glyphicon glyphicon-wrench btn-default" %></td>
      <td><%= link_to '', wall, 
                      method: :delete, data: {confirm: 'Are you sure?' }, class: "glyphicon glyphicon-trash btn-default" %></td>

    </tr>
  <% end %>
</table>
<nav>
  <ul class="pager">
    <li><%= link_to '', walls_path, class: "glyphicon glyphicon-arrow-left btn btn-default" %>  </li>
    <li><%= link_to '', new_wall_path, class: "glyphicon glyphicon-plus btn btn-default" %></li>
    </ul>
</nav>



<!-- <nav>
  <ul class="pager">
    <li><a href="#">Previous</a></li>
    <li><a href="#">Next</a></li>
    </ul>
</nav>
<%= link_to '', walls_path, class: "glyphicon glyphicon-arrow-left btn btn-default" %>  
 <%= link_to '', new_wall_path, class: "glyphicon glyphicon-plus btn btn-default" %>
 -->


<!--  <div style="
  font-size: 30px;
  font color: white;
  background-color: #0000F4; 
  height: 50px;
  width: 50px;
  border: 2px solid black;
  border-radius: 40px;
  display: inline-block;">
 </div> -->