<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>
 
 <p>
  <strong>Nickname:</strong>
  <%= @user.nickname %>
</p>

 <p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>


<%= link_to '', users_path,class: " glyphicon glyphicon-th-list btn default_btn" %> 
<%= link_to '', edit_user_path,class: " glyphicon glyphicon-wrench btn btn-default" %> 
<%= link_to '', @user,
                      method: :delete, data: {confirm: 'Are you sure?' }, class: "glyphicon glyphicon-trash btn default_btn" %>